body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 80vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

#title-input {
    margin-top: 0px;
    padding-top: 0px;
}

.errorbox {
    background-color: #ffe5e5; /* Light red background */
    color: #b00020; /* Dark red text */
    border: 1px solid #b00020; /* Dark red border */
    padding: 12px 16px;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 80%;
  }
  
  /* .errorbox::before {
    content: "⚠️";
    font-size: 18px;
  } */


  